html {
  overflow-y: hidden;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  background: #008522; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #78be20 0%, #008522 50%, #005f61 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #78be20 0%,#008522 50%,#005f61 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #78be20 0%,#008522 50%,#005f61 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  overflow: auto;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.backgroundImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
}

.backgroundImageLoaded {
  opacity: 1;
}

.title {
  margin: 20px 0;
}

.titleImage {
  object-fit: contain;
  width: 100%;
  max-width: 600px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
}

.titleImageLoaded {
  opacity: 1;
}

#grid {
  flex: 1;
  padding: 8px;
}

@media (max-width: 600px) {
  .titleContainer {
    max-height: 120px;
    height: auto !important;
  }
}

@media (min-width: 600px) {
  .title {
    margin-top: 60px;
  }

  #grid {
    padding: 16px 1.5em;
  }
}

@media (min-width: 1280px) {
  .title {
    margin-top: 80px;
    margin-bottom: 0px;
  }
  #grid {
    padding: 16px 7.5em;
  }
}
